@media only screen and (min-width: 769px) and (max-width: 1023px){
  .filterSection{
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    gap: 1.5rem;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .filterSection_first_inner_div{
    width: 100%;
    height:auto;
    flex-direction: column;
    padding-left: 40px;
  }

  .filterSection_first_1_inner_div{
    width: 100%;
    height: auto;
    justify-content: space-between;
  }

  .layOut_section{
    width: 100%;
    justify-content: center;
  }

  .layout_inner_section{
    width: 80%;
    height: 90vh;
  }

  .layout_second_inner_section{
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 603px) and (max-width: 768px){
  .filterSection{
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    gap: 1.5rem;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .filterSection_first_inner_div{
    width: 100%;
    height:auto;
    flex-direction: column;
    padding-left: 40px;
  }

  .filterSection_first_1_inner_div{
    width: 100%;
    height: auto;
    justify-content: space-between;
  }

  .layOut_section{
    width: 100%;
    justify-content: center;
  }

  .layout_inner_section{
    width: 80%;
    height: 80vh;
  }

  .layout_second_inner_section{
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 425px) and (max-width: 600px){

  .filterSection{
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    gap: 1.5rem;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .filterSection_first_inner_div{
    width: 100%;
    height:auto;
    flex-direction: column;
    padding-left: 40px;
  }

  .filterSection_first_1_inner_div{
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
  }

  .layOut_section{
    width: 100%;
    justify-content: center;
  }

  .layout_inner_section{
    width: 80%;
    height: 80vh;
  }

  .layout_second_inner_section{
    justify-content: space-evenly;
  }

}
